[Unit]
Description=Retry Paropal block/dev init until successful

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
